@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {

	background-color: lightgrey;

}

.chat {
	
	width: 400px;
	height: 600px;
	overflow-y: auto;
	border-width: 2px;
	border-color: black;
	border-radius: 30px;
	border-style: solid;
	background-color: white;

}

.hight_chat {

	display: flex;

}

.chat_profile {

	padding: 0;
	width: 50px;
	height: 50px;
	border: none;
	transition: 0.3s;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 15px;
	background-color: #3f4062;

}

.user_date_chat {

	margin-top: 3px;
	margin-left: 5px;     
	font-family: 'Montserrat', sans-serif;
    
}

.chat_user, .chat_date {

	padding: 1.8px;  
  	font-size: 12px;
	border-radius:8px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: lightgrey;

}

.chat_text {

	margin: 15px;

}

.line {

	height: 8px;
	margin-left: 15px;
	border-radius: 5px;
	margin-right: 15px;
	background-color: lightgrey;

}

.send_chat_input {
	
	height: 30px;
	font-size: 20px;
	transition: 0.3s;
	margin-left: 20px;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
	border-color: black;

}

.send_chat_button {

	width: 35px;
	height: 35px;
	border: none;
	margin-left: 15px;
	border-radius: 12px;
	background-color: #3f4062;

}

.chat_bottom {

	display: flex;
	margin-top: 6px;
	
} 

.jépludidé {

	text-align: center;

}



