.hello 
{
  position: absolute;
  top: 15%;
  left: 36%; 
  font-size: 50px;
  color: #000;
  font-family: 'Inter', sans-serif;
  text-align: centered;
  letter-spacing: 1px;
  animation: fadein 1s;
  margin-top: 5px;
  z-index: 1;
  animation: nuage 7.5s infinite;

}

.whoareyou
{
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #000;
  font-family: 'Inter', sans-serif;
  text-align: centered;
  letter-spacing: 1px;
  margin-top: 40px;
  animation: fadein 3s;

  

}
.button1
{
  /* A box that contains text, it has round edges and it is grey, make it so it doesn't have the blue of a link*/
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #868585;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  animation: fadein 3s;
  z-index: 1;
  font-family: 'Inter', sans-serif;

}

@keyframes fadein {

	from {

		opacity: 0%;

	}

	to {

		opacity: 100%;

	}

}

@keyframes nuage {
  /* an animation that makes it so the image looks like it floats, and it needs to remain to the same place. */
  0% {
    transform: translate(0, 0);
    /* rotate it by 5 degrees */
    transform: rotate(5deg);
  }
  25% {
    transform: translate(0, 6px);
    transform: rotate(2.5deg);

  }
  50% {
    transform: translate(0, 12px);
    transform: rotate(5deg);
  }
  75% {
    transform: translate(0, 6px);
    transform: rotate(-2.5deg);
  }
  100% {
    transform: translate(0, 0);
    transform: rotate(-5deg);
  }
 
}
