body {

	margin: 0;
	border: 0;
	padding: 0;
	

}

.content {

	top: 50%;
	left: 50%;
	position: absolute;
	text-align: center;
	animation-name: fadein;
	transform: translate(-50%, -50%);

}

.title {

	font-size: 100px;
	animation-duration: 10s;
	animation-name: nuage;

}

.subtitle {

	font-size: 60px;
	margin-top: -100px;
	animation-duration: 3s;

} 

.buttons {

	text-align: center;

}

.next_back_button {

	height: 50px;
	width: 140px;

	border-radius: 30px;
	border: 2px, solid, darkred;

	
}



@keyframes fadein {

	from {

		opacity: 0%;

	}

	to {

		opacity: 100%;

	}

}
@keyframes nuage {
  /* an animation that makes it so the image looks like it floats, and it needs to remain to the same place. */
  0% {
    transform: translate(0, 0);
    /* rotate it by 5 degrees */
    transform: rotate(5deg);
  }
  25% {
    transform: translate(0, 6px);
    transform: rotate(2.5deg);

  }
  50% {
    transform: translate(0, 12px);
    transform: rotate(5deg);
  }
  75% {
    transform: translate(0, 6px);
    transform: rotate(-2.5deg);
  }
  100% {
    transform: translate(0, 0);
    transform: rotate(-5deg);
  }
 
}