:root {
    --background:  #161623;
    --text-color: #fff;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


body {
    background: var(--background);
}

header {
    border-bottom: 2px solid white;
}

.cesco-title {
    text-align: center;
    font-size: 300%;
    color: var(--text-color);
}

.bottom {
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    display: flex;
}

footer {
    display: flex;
    z-index: 1;
    background: white;
    padding: 7.5px;
    border-radius: 50px;
    transition: 3s ease-in-out;
    margin-left: 47px;
}

#foot {
    transition: transform 0.3s ease;
}


.close-open {
    margin-left: 5px;
    border: 2px solid white; 
    border-radius: 50%;
    height: 43px;
    width: 43px;
    padding: 7.5px;
    font-size: 20px;
    font-family: Arial;
    transition: 0.3s ease-in-out;
}

close-open:hover {
    color: white;
    background: transparent;
}

footer::after:hover {
    color: white;
    background: transparent;
}

.main-button {
    border: 2px solid white;
    border-radius: 50px;
    padding: 5px;
    width: 90px;
    height: 30px;
    color: var(--text-color);
    background: var(--background);
    transition: 0.3s ease-in-out;
}

.new-post {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: var(--text-color);
    background: var(--background);
    transition: 0.3s ease-in-out; 
}

.main-button:hover, .new-post:hover {
    color: black;
    background: white;
    border: 2px solid var(--background);
}

@media screen and (max-width: 1000px) {
    .change, .change-button {
        display: flex;
    }
}