@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {

  margin: 0;
  padding: 0;
 	background-color: lightgrey;
  font-family: 'Montserrat', sans-serif;
  
}

.mail {

  text-align: center;
  font-family: 'Quicksand', sans-serif;

}

h2 {

  font-size: 60px;
  animation-name: fade;
  animation-duration: 2s;

}

.send {

  border: none;
  color: white;
  width: 200px;
  height: 60px;
  font-size: 40px;
  margin-top: 15px;
  transition: 0.4s;
  line-height: 60px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  animation-name: fade;
  animation-duration: 1.5s;
  background-color: #3f4062;
  font-family: 'Bebas Neue', cursive;

}

.intext {

  width: 600px;
  resize: none;
  border: none;
  padding: 15px;
  height: 500px;
  font-size: 20px;
   border-radius: 45px;

}

.send_button {

  animation-name: slide;
  animation-duration: 0.5s;

}

.send:hover {

  background-color: #6e7093;
    
}

.inscription_popup {

  top: 50%;
  left: 50%;
  filter: none; /* désactiver le flou sur contenu du popup */
  z-index: 10000;
  position: fixed;
  border-width: 5px;
  border-radius: 50px;
  animation-name: fade;
  background-color: white;
  animation-duration: 0.7s;
	transform: translate(-50%, -50%);
	  
}

.inscription {

	  width: 400px;
	  height: 600px;
	  border-radius: 30px;
	  border-color: black;
	  border-style: solid;
	  border-radius: 30px;
	  background-color: white;
	  animation-duration: 0.7s;
	  animation-name: slide_down;
	  
}

.inscription_h1 {

  font-size: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

.inputs {

	text-align: center;

}

.username_text, .password_text, .email_text {

	font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 3px;
  font-family: 'Montserrat', sans-serif;

}

.username_input, .password_input, .email_input {

	width: 360px;
  height: 45px;
  margin-top: 10px;
  border-style: solid;
  border-radius: 15px;
  border-color: lightgrey;

}

.line {

	height: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #888888;

}

.inscription_button {

  color: white;
  width: 360px;
  height: 60px;
  border: none;
  font-size: 35px;
	margin-top: 20px;
  transition: 0.3s;
  margin-left: 20px;
  border-radius: 15px;
  background-color: #3f4062;

}

.already_account {

  color: inherit;
  cursor: pointer;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

.inscription_button:hover {

	background-color: #6e7093;

}

.login {

  width: 450px;
  margin: 20px;
  padding: 20px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  background-color: white;
  border: 20px double black;

}

.titre {

  color: white;    
  font-size:110px;
  text-align: center;

}

.text {

  height: 5%;
  width: 100%;
  margin-top: 2px;
  border-radius: 15px;
  border-style: solid;
  border-color: #5e6362;
  font-family: 'Quicksand', cursive;
    
}

.connect_button {

  border: none;
  color: white;
  width: 200px;
  height: 60px;
  font-size: 40px;
  transition: 0.4s;
  margin-top: 20px;
  line-height: 60px;
  background: black;
  padding-left: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
  border-radius: 100px;
  animation-name: fade;
  animation-duration: 1.5s;
  font-family: 'Bebas Neue', cursive;

}

.connect_button:hover {

  background-color: #5e6362;

}

.subtitle {

  animation-name: slide;
  animation-duration: 0.5s;

}

.mdp {

	color: black;
	text-align: center;

}

.ins {

  color: black;
  text-align: center;

}

.link {

  transition: 2s;
    
}

.link:hover {

  color: #5e6362;

}

.all_consitution {

  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;

}

.aim {

  opacity: 60%;
  font-size: 15px;
  font-style: italic;

}

.primary_text {

  font-style: bold;

}

.secondary_text {

	margin-left: 20px;

}
.settings_popup {
	
  top: 50%;
  left: 50%;
  filter: none; /* désactiver le flou sur le contenu du popup */
  z-index: 10000;
  position: fixed;
  border-width: 5px;
	border-radius: 50px;
  animation-name: fade;
  background-color: white;
  animation-duration: 0.7s;
  transform: translate(-50%, -50%);

}
.settings {

  width: 300px;
  height: 500px;
  overflow-y: auto;
  border-color: black;
  border-style: solid;
  border-radius: 30px;
  background-color: white;
	
}

.text_gear {

  display: flex;

}

.settings_h1{

	font-size: 25px;
	margin-left: 20px;
  font-family: 'Montserrat', sans-serif;

}

.gear {

  height: 50px;
  margin-top: 16px;
	transition: 0.8s;
	margin-left: 70px;

}

.line {

  height: 5px;
  margin-top: -10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #888888;

}

.change_photo {

	display: flex;

}

.photo_preview {

  height: 90px;
  width: 90px;
  margin-top: 20px;
  margin-left: 20px;	
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: light-gray;

}

.change_photo_button {

	border: 0;
	color: white;
	height: 40px;
	width: 165px;
	font-size: 11px;
	margin-top: 40px;
	transition: 0.3s;
	margin-left: 5px;
	margin-right: 20px;	
	border-radius: 10px;
	background-color: #3f4062;
	font-family: 'Montserrat', sans-serif;

}

.color_choice {

	display: flex;

}

.choice {

	padding: 5px;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 12px;
	margin-right: 20px;
	background-color: lightgrey;

	
}

.predefined_colors {

	margin-left: 2px;

}

.color_1, .color_2, .color_3, .color_4, .color_5, .color_6, .color_7, .color_8, .color_9, .color_10 {

	border: 0;
	width: 44px;
	height: 44px;
	transition: 0.3s;
	margin-left: 1px;
	border-radius: 8px;
	margin-bottom: 4px;
	

}

.other_colors, .save_button {

	height: 50px;
	border: none;
	width: 245px;
	font-size: 20px;
	margin-top: 3px;
	transition: 0.3s;
	margin-left: 3px;
	border-radius: 18px;
	background-color: #3f4062;


}

.choice_text, .save_text {


	color: white;
	line-height: 0px;
	font-family: 'Montserrat', sans-serif;

}

.insight_button {

	border: 0;
	width: 90px;
	color: white;
	background: #3f4062;
	border-radius: 10px;

}

.center_input {

	text-align: center;

}

input {

	height: 20px;
	margin-top: 5px;
	border-color: gray;
	border-radius: 7px;
	border-style: solid;

}

.enter {

	text-align: center;

}

.save {

	text-align: center;

}

.change_photo_button:hover, .other_colors:hover, .save_button:hover {

	background-color: #6e7093;

}

.gear:hover {

	transform: rotate(360deg);
}

.color_1:hover, .color_2:hover, .color_3:hover, .color_4:hover, .color_5:hover, .color_6:hover, .color_7:hover, .color_8:hover, .color_9:hover, .color_10:hover {
  
	box-shadow: 2.5px 2.5px 2.5px black;

}

.tertiary_text {

	margin-left: 40px;

}

.signatures {

	display: flex;

}

.signature_images {

	width: 90px;
	height: 90px;

}

.titre1 {

  color: white;
  font-size: 80px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
    
}
    
.bouton {
    
  width: 250px;
    
}
      
.inte {
    
  height: 45px;
  width: 400px;
  margin-bottom: 5px;
  border: ridge black 5px;

}
    
img {

  width:60%;
  border-radius: 20px;
  
}

header {

  top: -30px;
  padding: 25px;
  background-color: white;

}


.hight_left_post {

	display: flex;
 
}

.user_date_post {

 	margin-top: 7px;
 	margin-left: 5px;

}

.post_user, .post_date {

	padding: 3px;
  font-size: 16px;
	border-radius: 8px;
	background-color: lightgrey;

}

.post_little_title {

	height: 20px;
	padding: 3px;	
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 8px;
	background-color: lightgrey;
  
}

.post_big_title {

	left: 35%;
	position: none;
	margin-bottom: -1px;
	font-family: 'Fredoka One', cursive;

}

.post_zone {

	width: 600px;
	height: auto;
	margin-left: 15px;
	border-width: 2px;
 	margin-bottom: 12px;
	border-radius: 30px;
	border-color: black;
	border-style: solid;
	padding-bottom: 20px;
	background-color: white;
	font-family: 'Montserrat', sans-serif;

}	

.line {

	height: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	background-color: black;
	background-color: #888888;
  
}

.post_text {

	margin-top: 20px;
	margin-left: 20px;	
	margin-right: 20px;

}

.comment, .report {

	width: 50px;
	height: 50px;
	transition: 0.3s;
	margin-left: 20px;
	border-radius: 20px;
	background-color: #3f4062;
	
}

.comment {

	margin-left: 460px;

}

.bottom_post_button {

	display: flex;
	margin-top: 13.5%;

}

.text_in_button_bottom_left, .text_in_button_bottom_right {
	
	color: white;
	margin-left: 40%;
	font-family: 'Fredoka One', cursive;
  
}

.text_in_button_bottom_left {

 	margin-left: 45%;
 
}

.fake_copyright {

	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;

}

.chat {
	
	width: 400px;
	height: 600px;
	overflow-y: auto;
	border-width: 2px;
	border-color: black;
	border-radius: 30px;
	border-style: solid;
	background-color: white;


}

.coms {
	
	width: 400px;
	height: 600px;
	overflow-y: auto;
	border-width: 2px;
	margin-left: 15px;
	border-color: black;
	border-radius: 30px;
	border-style: solid;
	background-color: white;


}

.hight_chat {

	display: flex;

}

.chat_profile {

	padding: 0;
	width: 50px;
	height: 50px;
	border: none;
	transition: 0.3s;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 15px;
	background-color: #3f4062;

}

.user_date_chat {

	margin-top: 3px;
	margin-left: 5px;     
	font-family: 'Montserrat', sans-serif;
    
}

.chat_user, .chat_date {

  padding: 1.8px;  
  font-size: 12px;
  border-radius:8px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: lightgrey;

}

.chat_text {

	margin: 15px;

}

.line {

	height: 8px;
	margin-left: 15px;
	border-radius: 5px;
	margin-right: 15px;
	background-color: lightgrey;

}

.send_chat_input {
	
	height: 30px;
	font-size: 20px;
	transition: 0.3s;
	margin-left: 20px;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
	border-color: black;

}

.send_chat_button {

	width: 35px;
	height: 35px;
	border: none;
	margin-left: 15px;
	border-radius: 12px;
	background-color: #3f4062;

}

.chat_bottom {

	display: flex;
	margin-top: 6px;
	
} 

.jépludidé {

	text-align: center;

}

.chat {

	width: 400px;
	height: 600px;
	overflow-y: auto;
	border-width: 2px;
	border-color: black;
	border-radius: 20px;
	border-style: solid;
	background-color: white;

}

.hight_chat {

	display: flex;

}

.chat_profile {

	padding: 0;
	width: 50px;
  height: 50px;
  border: none;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 15px;
  background-color: #3f4062;

}

.user_date_chat {

	margin-top: 3px;
	margin-left: 5px;     
  font-family: 'Montserrat', sans-serif;
    
}

.chat_user, .chat_date {

    padding: 1.8px;
    font-size: 12px;
    padding-left: 2px;
    border-radius:8px;
    padding-right: 2px;
    background-color: lightgrey;

}

.chat_text {

	margin: 15px;

}

.line {

	height: 8px;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 5px;
	background-color: lightgrey;

}

.send_chat_input {
	
	height: 30px;
	font-size: 20px;
	margin-left: 20px;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
	border-color: black;
	
}

.conn_popup {
	
  top: 50%;
  left: 50%;
  filter: none; /* désactiver le flou sur le contenu du popup */
  z-index: 10000;
  position: fixed;
  border-width: 5px;
	border-radius: 50px;
	animation-name: fade;
	background-color: white;
	animation-duration: 0.7s;
	transform: translate(-50%, -50%);

}
.connection {

	width: 400px;
	height: 600px;
	border-radius: 30px;
	border-color: black;
	border-style: solid;
	border-radius: 30px;
	background-color: white;
	animation-duration: 0.7s;
	animation-name: slide_down;

}

.connection_h1 {

	font-size: 50px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

}

.inputs {

	text-align: center;

}

.username_text, .password_text {

	font-size: 20px;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 3px;
	font-family: 'Montserrat', sans-serif;

}

.username_input, .password_input {

	width: 360px;
	height: 45px;
	margin-top: 10px;
	border-style: solid;
	border-radius: 15px;
	border-color: lightgrey;

}

.line {

	height: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	background-color: #888888;

}

.connection_button {

	color: white;
	width: 360px;
	height: 60px;
	border: none;
	font-size: 35px;
	margin-top: 20px;
	transition: 0.3s;
	margin-left: 20px;
	border-radius: 15px;
	background-color: #3f4062;

}

.no_account {
	
	color: inherit;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;

}

.connection_button:hover {

	background-color: #6e7093;

}

.chat_bottom {

	display: flex;
	margin-top: 95%;
	
} 

.chat_post_commentary {

	display: flex;
	margin-top: -50px;
	justify-content: center;

}

.wait_message {

	font-family: 'Montserrat', sans-serif;

}

.send_text {

	color: white;
	margin-top: 10px;
	font-family: 'Fredoka One', cursive;

}

.report:hover, .comment:hover, .chat_profile:hover, .send_chat_button:hover {

	background-color: #6e7093;

}

.uptitle {

	left: 50%;
	top: 120px;
	margin-top: 0px;
	font-size: 140px;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);	
  font-family: 'Oswald', sans-serif;

}

.all_text {

	margin-left: 150px;
	margin-right: 150px

}

.intro_title {

	font-size: 50px;

}

.explications {

	font-size: 25px;

}

.link {

  position: relative;
  text-decoration: none;

}

.link::after {
	
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background: #000;
  position: absolute;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;

}

.link:hover::after {

  transform: scale(1);
}

/* Button model for all site */

.navigator {

	padding: 0;
  clear: both;
	border: none;
	width: 200px;
	height: 60px;
	transition: 0.3s;
	margin-left: 5px;
	background: #3f4062;
	border-radius: 25px;
	  
}

#overlay {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;

}

.navigator:hover {

  background-color: #6e7093;

}

.text_in_button {

  color: white;
  font-size: 20px;

}

.new_post {

  top: 20px;
  padding: 0;
  right: 85px;
  position: absolute;

}

.profile {
    
  top: 20px;
  padding: 0;
  right: 20px;
  position: absolute;

}

.profile_photo_body {

	padding: 0;
	width: 60px;
  height: 60px;
	border: none;
  transition: 0.3s;
  border-radius: 20px;
	background-color: #3f4062;

}

.profile_photo_body:hover {

  background-color: #6e7093;

}

.profile_photo_post {

	padding: 0;
	width: 70px;
  height: 70px;
	border: none;
	transition: 0.3s;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 20px;
	background-color: #3f4062;

}

.profile_photo_post:hover {

  background-color: #6e7093;

}

.hight_left_post {

	display: flex; 

}

.many_button {

  text-align: center;

}

.nav {

  text-align: center;
	margin-top: 200px;

}

.send_chat_button {

	width: 35px;
	height: 35px;
	border: none;
	margin-left: 15px;
	border-radius: 12px;
	background-color: #3f4062;

}