.chatpostcom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.posts {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}