.post {
    position: relative;
    border: 2px solid white;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    background: transparent;
}

.infopost {
    margin: 10px;
    display: flex;
}

.postprofile {
    border-radius: 15px;
    width: 50px;
    height: 50px;
}

  .namedatepost {
    margin-left: 10px;
    display: block;
}

.namepost, .datepost {
    border-radius: 30px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 15px;
    color: black;
    background: white;
}

.namepost {
    margin-bottom: 5px;
}

.datepost {
    margin-top: 5px;
}

.textpost {
    margin: 10px;
    text-align: left;
    color: var(--text-color);
}

.postfooter {
    display: flex;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.buttonbottom {
    margin: 2px;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    background: transparent;
    transition: 0.3s ease-in-out;
}

.buttonbottom:hover {
    color: black;
    background: white;
}


.buttonbottomtext {
    font-family: 'Arial';
    margin-top: -2px;
}